--- 
import profile from "../../public/Profile.png";
import github from "../assets/svg/Github.svg";
import Linkdin from "../assets/svg/Linkedin.svg";
import X from "../assets/svg/X.svg";
import home from "../assets/svg/Home.svg";
import projects from "../assets/svg/Projects.svg";
import expirience from "../assets/svg/Expirience.svg";
---

<aside>
  <section
    id="mobile-sidebar"
    hidden
    class="fade-in fixed top-0 left-0 h-screen w-64 dark:bg-gray-950 bg-gray-300 z-10 dark:text-slate-50 transition-transform transform sm:translate-x-0 sm:flex sm:flex-col"
  >
    <div class="flex flex-col flex-grow items-center gap-10 pt-11">
      <h1 class="text-3xl font-bold">Portafolio</h1>
      <a href="/" target="_blank" rel="noopener noreferrer">
        <div class="transition ease-in-out hover:scale-[103%] block m-auto">
          <img
            src={profile.src}
            alt="img-profile"
            class="rounded-full h-32 w-32"
          />
        </div>
      </a>
      <div>
        <ul>
          <li
            id="btnInicio"
            class="flex items-center p-3 gap-3 transition ease-in-out hover:scale-[104%] hover:opacity-80 cursor-pointer hover:bg-slate-600 rounded-lg min-w-44"
          >
            <img src={home.src} alt="Home" class="w-6 h-6 dark:invert" />
            Inicio
          </li>
          <li
            id="btnExperience"
            class="flex items-center p-3 gap-3 transition ease-in-out hover:scale-[104%] hover:opacity-80 cursor-pointer hover:bg-slate-600 rounded-lg min-w-44"
          >
            <img
              src={expirience.src}
              alt="Experience"
              class="w-6 h-6 dark:invert"
            />
            Experiencia
          </li>
          <li
            id="btnAbout"
            class="flex items-center p-3 gap-3 transition ease-in-out hover:scale-[104%] hover:opacity-80 cursor-pointer hover:bg-slate-600 rounded-lg min-w-44"
          >
            <img
              src={expirience.src}
              alt="About"
              class="w-6 h-6 dark:invert"
            />
            Sobre Mi
          </li>
          <li
            id="btnCertificates"
            class="flex items-center p-3 gap-3 transition ease-in-out hover:scale-[104%] hover:opacity-80 cursor-pointer hover:bg-slate-600 rounded-lg min-w-44"
          >
            <img
              src={projects.src}
              alt="Certificates"
              class="w-6 h-6 dark:invert"
            />
            Certificados
          </li>
          <li
            class="flex items-center p-3 gap-3 transition ease-in-out hover:scale-[104%] hover:opacity-80 cursor-pointer hover:bg-slate-600 rounded-lg min-w-44"
          >
            <img
              src={projects.src}
              alt="Projects"
              class="w-6 h-6 dark:invert"
            />
            Proyectos
          </li>
        </ul>
      </div>
    </div>
    <div class="flex justify-center p-10 gap-6">
      <a href="https://github.com/Miguel-londono">
        <img
          src={github.src}
          alt="GitHub"
          class="w-8 h-8 dark:invert transition ease-in-out hover:scale-[104%] hover:opacity-70 cursor-pointer"
        />
      </a>
      <a href="https://www.linkedin.com/in/miguel-londoño-252a6a313/">
        <img
          src={Linkdin.src}
          alt="LinkedIn"
          class="w-8 h-8 dark:invert transition ease-in-out hover:scale-[104%] hover:opacity-70 cursor-pointer"
        />
      </a>
      <a href="https://x.com/GreenVivit">
        <img
          src={X.src}
          alt="Twitter"
          class="w-8 h-8 dark:invert transition ease-in-out hover:scale-[104%] hover:opacity-70 cursor-pointer"
        />
      </a>
    </div>
    <!-- Botón para cerrar el sidebar en móvil -->
    <button
      id="mobile-close-button"
      class="absolute top-4 right-4 text-2xl sm:hidden focus:outline-none"
    >
      &times;
    </button>
  </section>
</aside>


<script>
  const mobileSidebar = document.getElementById("mobile-sidebar") as any;
  const mobileOpenButton = document.getElementById("mobile-open-button" as any);
  const mobileCloseButton = document.getElementById("mobile-close-button") as any;

  // Abrir el sidebar
  mobileOpenButton.addEventListener("click", () => {
    mobileSidebar.hidden = false; // Quitar el atributo hidden
    mobileSidebar.style.transform = "translateX(0)";
  });

  // Cerrar el sidebar
  mobileCloseButton.addEventListener("click", () => {
    mobileSidebar.style.transform = "translateX(-100%)";
    setTimeout(() => {
      mobileSidebar.hidden = true; // Volver a ocultar con hidden
    }, 300); // Tiempo para que complete la transición
  });

  // Cerrar el sidebar al hacer clic fuera de él, solo en tamaños menores a 'sm'
  window.addEventListener("click", (event) => {
    const isSmallScreen = window.innerWidth < 640; // Breakpoint 'sm' en Tailwind

    if (
      isSmallScreen && // Solo ejecuta el cierre en pantallas pequeñas
      !mobileSidebar.contains(event.target) &&
      !mobileOpenButton.contains(event.target)
    ) {
      mobileSidebar.style.transform = "translateX(-100%)";
      setTimeout(() => {
        mobileSidebar.hidden = true;
      }, 300);
    }
  });
</script>
