---

const project = Astro.props;
const {key} = Astro.props;
const { tecnologias } = project;

---
<a href={`/project/${key}`}> 

  <div
    class="flex flex-col sm:flex sm:flex-row items-center sm:items-start gap-8 p-4 border-2 border-[#a49881] rounded-lg  ease-in-out transition hover:scale-[101%] cursor-pointer duration-500"
  >
    <img transition:name={`img-${key}`} src={project.image.url} alt="img-profile" class="rounded-lg h-32 w-46" />
    <div class="">
      <div class="sm:flex sm:place-items-end gap-3 sm:flex-grow py-2">
        <h1 transition:name={`title-${key}`} class="font-bold text-2xl">{project.title}</h1>
        <ul class="flex sm:flex-grow gap-3">
          {tecnologias.map((tec: any) => (
            <li class="relative group">
              <img
                src={tec.img}
                alt={tec.name}
                class="w-8 h-8 dark:invert transition ease-in-out hover:scale-[104%] hover:opacity-70 cursor-pointer"
              />
              <!-- Tooltip personalizado -->
              <span
                class="absolute bottom-full mb-2 hidden group-hover:inline-block bg-gray-700 text-white text-xs rounded py-1 px-2 whitespace-nowrap"
              >
                {tec.name}
              </span>
            </li>
          ))}
          
        </ul>
        <p class="text-sm self-end">{`Fecha:${project.date}`}</p>
      </div>
      <p class="text-justify text-sm">{project.description}</p>
    </div>
</a>
</div>
